<div class="panel post">
  <div class="panel-body">
    <a href="/design/post?x_push_page=true&x_page_title=Post">
      <strong><%= random_title %></strong>
    </a>
    <br>
    <a class="post-body" href="/design/post?x_push_page=true&x_page_title=Post">
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
    </a>
    <br>
    <small class="text-muted"><%= random_name %> &#183; 2m</small>
  </div>
  <div class="panel-footer text-center">
    <i class="glyphicon glyphicon-heart pull-left"></i>
    <i class="glyphicon glyphicon-comment"></i>
    <i class="glyphicon glyphicon-cog pull-right"></i>
  </div>
</div>
