<div style="padding: 10px;">
  <h4>Yay! A custom URL!</h4>
  <strong>This view appeared because you triggered a custom URL.</strong>
  <p>
    Custom URLs allow you to run your own Objective-C methods. 
    They're simple to set up and use, just checkout the documentation on how to register a custom URL with an Objective-C method.
  </p>
  <p>
    The URL you triggered ran a custom action called "myAction" and looked like this: <code>inapp://capture?x_action=myAction</code>
  </p>
  <div class="alert alert-sm alert-warning">
    If you need anything more advanced, like passing in arguments to an Objective-C method or listening for callbacks then use Stacker's Javascript Bridge instead.
  </div>
</div>
