<div style="padding: 10px;">
  <h4>Yay! A custom URL!</h4>
  <strong>Yay! This view appeared because you triggered a custom URL.</strong>
  <p>
    Custom URLs allow you to run your own Objective-C methods.
    Not everything can be done in the web, so it's useful to use custom actions when you need to do
    something in native code (like taking pictures, using your GPS or just show any native ViewController).
  </p>

  <p>
    The URL you triggered ran a custom action called "myAction" and looked like this: <code>inapp://capture?x_action=myAction</code>
  </p>

</div>