<div style="padding: 10px;">
  <p>
    <input type="text" class="form-control" placeholder="First Name" value="Peter" />
  </p>
  <p>
    <input type="text" class="form-control" placeholder="Last Name" value="Parker" />
  </p>
  <p>
    <input type="email" class="form-control" placeholder="Email" value="peter@example.com" />
  </p>
  <p>
   <a href='' id='myButton'>Click Me</a>
  </p>
</div>




<script>
window.onerror = function(err) {
  log('window.onerror: ' + err)
}

function connectWebViewJavascriptBridge(callback) {
  if (window.WebViewJavascriptBridge) {
    callback(WebViewJavascriptBridge)
  } else {
    document.addEventListener('WebViewJavascriptBridgeReady', function() {
      callback(WebViewJavascriptBridge)
    }, false)
  }
}

connectWebViewJavascriptBridge(function(bridge) {
  var uniqueId = 1

  $('#myButton').click(function(e){
    e.preventDefault();
    bridge.callHandler('enableSaveButton', {'foo': 'bar'}, function(response) {
      log('JS got response', response)
    })
  });


});
</script>
