<div style="padding: 10px;">
  <div class="list-group">
    <a class="list-group-item" href="">Profile Settings <i class='glyphicon glyphicon-chevron-right pull-right'></i></a>
    <a class="list-group-item" href="">Notification Settings <i class='glyphicon glyphicon-chevron-right pull-right'></i></a>
    <a class="list-group-item" href="">Billing Info <i class='glyphicon glyphicon-chevron-right pull-right'></i></a>
  </div>
  <div class="list-group">
    <%= link_to "Sign out <i class='glyphicon glyphicon-chevron-right pull-right'></i>".html_safe, destroy_user_session_path, :method => :delete, :class => 'list-group-item' if current_user.present? %>
  </div>
</div>
