/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body {
  background: #F0F1F2;
}

.post-body {
  color: #333;
  text-decoration: none;
}

.panel-footer .glyphicon {
  color: #aaa;
}

.panel-body a:hover,
.panel-body a:focus {
  color: #428bca;
  text-decoration: none;
}

.panel-body .post-body:hover,
.panel-body .post-body:focus {
 color: #333;
 text-decoration: none;
}